<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezerwacja filmów</title>
</head>
<body>
    <h1>Rezerwacja filmów</h1>
    <ul>
        <li><a href="/movies">Lista filmów</a></li>
        <li><a href="/user_reservations">Rezerwacje usera</a></li>
        <li><a href="/reservation">Dodaj rezerwacje</a></li>
        <li><a href="/">Powrót</a></li>

    </ul>


</body>
</html>
