<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
</head>
<body>
    <h1>Movies List</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in movies %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
<a href="/index">Powrót</a>
</body>
</html>